In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import tensorflow as tf

In [2]:
from google.colab import files
up=files.upload()

Saving Melbourne_housing_FULL.csv to Melbourne_housing_FULL.csv

In [3]:
df=pd.read_csv("Melbourne_housing_FULL.csv")
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [4]:
df1=df.bfill()
df1.ffill()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1480000.0,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,79.0,1900.0,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,79.0,1900.0,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,1465000.0,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,150.0,1900.0,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,104.0,2018.0,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [5]:
df1.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [7]:
df1['Suburb']= le.fit_transform(df1['Suburb'])
df1['Address']= le.fit_transform(df1['Address'])
df1['Type']=le.fit_transform(df1['Type'])
df1['Method']=le.fit_transform(df1['Method'])
df1['SellerG']=le.fit_transform(df1['SellerG'])
df1['CouncilArea']=le.fit_transform(df1['CouncilArea'])
df1['Regionname']=le.fit_transform(df1['Regionname'])

In [8]:
df1

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,0,29458,2,0,1480000.0,6,155,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,79.0,1900.0,31,-37.80140,144.99580,2,4019.0
1,0,32512,2,0,1480000.0,2,33,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,79.0,1900.0,31,-37.79960,144.99840,2,4019.0
2,0,15389,2,0,1035000.0,2,33,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,31,-37.80790,144.99340,2,4019.0
3,0,9768,3,2,1465000.0,7,296,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,150.0,1900.0,31,-37.81140,145.01160,2,4019.0
4,0,25128,3,0,1465000.0,5,33,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,31,-37.80930,144.99440,2,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,348,5862,4,0,1480000.0,0,152,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,104.0,2018.0,16,-37.81053,144.88467,6,6543.0
34853,348,16982,2,0,888000.0,5,321,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,16,-37.81551,144.88826,6,6543.0
34854,348,7350,2,1,705000.0,2,152,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,16,-37.82286,144.87856,6,6543.0
34855,348,5421,3,0,1140000.0,5,370,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,16,-37.81810,144.89351,6,6543.0
34856,348,17743,2,0,1020000.0,0,276,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,16,-37.81810,144.89351,6,6543.0

In [10]:
df2=df1.drop('Date', axis=1)

In [11]:
df2.corr()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
Suburb,1.000000,0.015609,-0.064271,0.022750,-0.141254,0.001405,0.034903,-0.007843,-0.014172,-0.057257,-0.052886,-0.033645,-0.004782,-0.013180,0.028447,0.112133,0.136700,-0.148322,-0.019029,0.149113
Address,0.015609,1.000000,0.022116,-0.070503,0.024139,0.006326,-0.002137,-0.026631,-0.000140,0.005984,0.003309,-0.011434,0.004658,0.007871,-0.033231,0.013070,-0.006025,-0.004536,0.009265,0.007435
Rooms,-0.064271,0.022116,1.000000,-0.550992,0.367309,-0.029778,-0.040063,0.271511,0.085890,0.728136,0.478949,0.301102,0.029616,0.085752,0.036676,-0.120965,-0.003477,0.099837,-0.038763,-0.071661
Type,0.022750,-0.070503,-0.550992,1.000000,-0.291159,0.043113,0.030186,-0.235801,-0.030476,-0.350976,-0.158726,-0.176747,-0.016379,-0.043352,0.094703,0.069963,-0.071748,-0.010919,0.058251,0.074641
Price,-0.141254,0.024139,0.367309,-0.291159,1.000000,-0.000196,-0.028476,-0.198374,0.048599,0.275475,0.295515,0.124086,0.019151,0.066277,-0.180969,-0.111744,-0.187486,0.177227,0.089873,-0.054984
Method,0.001405,0.006326,-0.029778,0.043113,-0.000196,1.000000,0.002896,-0.041110,-0.009815,-0.013075,0.002476,-0.009953,0.006180,-0.000113,-0.008946,0.001550,-0.006860,-0.020015,0.017141,-0.028164
SellerG,0.034903,-0.002137,-0.040063,0.030186,-0.028476,0.002896,1.000000,-0.025252,-0.005486,-0.032103,-0.028857,-0.003869,-0.003549,-0.008105,-0.017134,0.040075,0.007599,-0.059136,0.026198,0.044509
Distance,-0.007843,-0.026631,0.271511,-0.235801,-0.198374,-0.041110,-0.025252,1.000000,0.481560,0.236773,0.114018,0.205308,0.058959,0.060742,0.238716,-0.122426,-0.112729,0.192909,-0.136176,-0.018130
Postcode,-0.014172,-0.000140,0.085890,-0.030476,0.048599,-0.009815,-0.005486,0.481560,1.000000,0.077057,0.112627,0.052924,0.035047,0.052992,0.049463,0.013176,-0.239288,0.343739,-0.031743,0.017136
Bedroom2,-0.057257,0.005984,0.728136,-0.350976,0.275475,-0.013075,-0.032103,0.236773,0.077057,1.000000,0.618329,0.365534,0.034285,0.099198,0.034251,-0.104053,0.000969,0.106126,-0.037517,-0.055732
Bathroom,-0.052886,0.003309,0.478949,-0.158726,0.295515,0.002476,-0.028857,0.114018,0.112627,0.618329,1.000000,0.284582,0.033922,0.098184,0.098102,-0.059826,-0.072185,0.107457,0.016024,-0.036260
Car,-0.033645,-0.011434,0.301102,-0.176747,0.124086,-0.009953,-0.003869,0.205308,0.052924,0.365534,0.284582,1.000000,0.039198,0.060512,0.123471,-0.117207,0.001161,0.043246,0.013367,-0.011829
Landsize,-0.004782,0.004658,0.029616,-0.016379,0.019151,0.006180,-0.003549,0.058959,0.035047,0.034285,0.033922,0.039198,1.000000,0.052191,0.024347,0.000237,0.018581,-0.001170,-0.016164,-0.017963
BuildingArea,-0.013180,0.007871,0.085752,-0.043352,0.066277,-0.000113,-0.008105,0.060742,0.052992,0.099198,0.098184,0.060512,0.052191,1.000000,0.009878,-0.035445,-0.014765,0.022893,0.004091,-0.022017
YearBuilt,0.028447,-0.033231,0.036676,0.094703,-0.180969,-0.008946,-0.017134,0.238716,0.049463,0.034251,0.098102,0.123471,0.024347,0.009878,1.000000,-0.027182,0.099974,-0.009837,-0.042917,0.020846
CouncilArea,0.112133,0.013070,-0.120965,0.069963,-0.111744,0.001550,0.040075,-0.122426,0.013176,-0.104053,-0.059826,-0.117207,0.000237,-0.035445,-0.027182,1.000000,0.085180,-0.128202,-0.077425,0.020654
Lattitude,0.136700,-0.006025,-0.003477,-0.071748,-0.187486,-0.006860,0.007599,-0.112729,-0.239288,0.000969,-0.072185,0.001161,0.018581,-0.014765,0.099974,0.085180,1.000000,-0.355203,-0.276764,0.034643
Longtitude,-0.148322,-0.004536,0.099837,-0.010919,0.177227,-0.020015,-0.059136,0.192909,0.343739,0.106126,0.107457,0.043246,-0.001170,0.022893,-0.009837,-0.128202,-0.355203,1.000000,-0.451441,0.009921
Regionname,-0.019029,0.009265,-0.038763,0.058251,0.089873,0.017141,0.026198,-0.136176,-0.031743,-0.037517,0.016024,0.013367,-0.016164,0.004091,-0.042917,-0.077425,-0.276764,-0.451441,1.000000,-0.114070
Propertycount,0.149113,0.007435,-0.071661,0.074641,-0.054984,-0.028164,0.044509,-0.018130,0.017136,-0.055732,-0.036260,-0.011829,-0.017963,-0.022017,0.020846,0.020654,0.034643,0.009921,-0.114070,1.000000

In [12]:
x=df2.drop("Price",axis=1)
y=df2['Price']

In [13]:
x

,Suburb,Address,Rooms,Type,Method,SellerG,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,0,29458,2,0,6,155,2.5,3067.0,2.0,1.0,1.0,126.0,79.0,1900.0,31,-37.80140,144.99580,2,4019.0
1,0,32512,2,0,2,33,2.5,3067.0,2.0,1.0,1.0,202.0,79.0,1900.0,31,-37.79960,144.99840,2,4019.0
2,0,15389,2,0,2,33,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,31,-37.80790,144.99340,2,4019.0
3,0,9768,3,2,7,296,2.5,3067.0,3.0,2.0,1.0,0.0,150.0,1900.0,31,-37.81140,145.01160,2,4019.0
4,0,25128,3,0,5,33,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,31,-37.80930,144.99440,2,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,348,5862,4,0,0,152,6.3,3013.0,4.0,1.0,3.0,593.0,104.0,2018.0,16,-37.81053,144.88467,6,6543.0
34853,348,16982,2,0,5,321,6.3,3013.0,2.0,2.0,1.0,98.0,104.0,2018.0,16,-37.81551,144.88826,6,6543.0
34854,348,7350,2,1,2,152,6.3,3013.0,2.0,1.0,2.0,220.0,120.0,2000.0,16,-37.82286,144.87856,6,6543.0
34855,348,5421,3,0,5,370,6.3,3013.0,2.0,1.0,0.0,250.0,103.0,1930.0,16,-37.81810,144.89351,6,6543.0
34856,348,17743,2,0,0,276,6.3,3013.0,2.0,1.0,0.0,250.0,103.0,1930.0,16,-37.81810,144.89351,6,6543.0

In [14]:
y

0        1480000.0
1        1480000.0
2        1035000.0
3        1465000.0
4        1465000.0
           ...
34852    1480000.0
34853     888000.0
34854     705000.0
34855    1140000.0
34856    1020000.0
Name: Price, Length: 34857, dtype: float64

In [15]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.2)

In [16]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
xtrain=sc.fit_transform(xtrain)
xtest=sc.fit_transform(xtest)

In [17]:
x.shape

(34857, 19)

In [18]:
ann=tf.keras.models.Sequential()

In [19]:
ann.add(tf.keras.layers.Dense(units=200, input_dim=19, activation='relu'))

In [20]:
ann.add(tf.keras.layers.Dense(units=200,activation='relu'))

In [21]:
ann.add(tf.keras.layers.Dense(units=1, activation='linear'))

In [22]:
ann.compile(optimizer='adam',loss='mean_squared_error',metrics=tf.keras.metrics.RootMeanSquaredError())

In [23]:
ann.fit(xtrain,ytrain,batch_size=30, epochs=30)

Epoch 1/30
930/930 [==============================] - 5s 4ms/step - loss: 1455338422272.0000 - root_mean_squared_error: 1206374.1250
Epoch 2/30
930/930 [==============================] - 2s 2ms/step - loss: 698802700288.0000 - root_mean_squared_error: 835944.1875
Epoch 3/30
930/930 [==============================] - 2s 2ms/step - loss: 411373240320.0000 - root_mean_squared_error: 641383.8750
Epoch 4/30
930/930 [==============================] - 2s 3ms/step - loss: 346498727936.0000 - root_mean_squared_error: 588641.4375
Epoch 5/30
930/930 [==============================] - 2s 2ms/step - loss: 315218919424.0000 - root_mean_squared_error: 561443.6250
Epoch 6/30
930/930 [==============================] - 4s 4ms/step - loss: 295656292352.0000 - root_mean_squared_error: 543742.8125
Epoch 7/30
930/930 [==============================] - 2s 2ms/step - loss: 283360722944.0000 - root_mean_squared_error: 532316.3750
Epoch 8/30
930/930 [==============================] - 2s 2ms/step - loss: 275262177280.0000 - root_mean_squared_error: 524654.3125
Epoch 9/30
930/930 [==============================] - 2s 2ms/step - loss: 269847756800.0000 - root_mean_squared_error: 519468.7188
Epoch 10/30
930/930 [==============================] - 2s 2ms/step - loss: 265837592576.0000 - root_mean_squared_error: 515594.4062
Epoch 11/30
930/930 [==============================] - 3s 4ms/step - loss: 262847627264.0000 - root_mean_squared_error: 512686.6875
Epoch 12/30
930/930 [==============================] - 2s 2ms/step - loss: 260697161728.0000 - root_mean_squared_error: 510585.1250
Epoch 13/30
930/930 [==============================] - 2s 2ms/step - loss: 258724298752.0000 - root_mean_squared_error: 508649.5000
Epoch 14/30
930/930 [==============================] - 3s 3ms/step - loss: 257174650880.0000 - root_mean_squared_error: 507123.9062
Epoch 15/30
930/930 [==============================] - 2s 3ms/step - loss: 255780995072.0000 - root_mean_squared_error: 505747.9688
Epoch 16/30
930/930 [==============================] - 3s 4ms/step - loss: 254655938560.0000 - root_mean_squared_error: 504634.4688
Epoch 17/30
930/930 [==============================] - 2s 2ms/step - loss: 253709828096.0000 - root_mean_squared_error: 503696.1562
Epoch 18/30
930/930 [==============================] - 2s 2ms/step - loss: 252832415744.0000 - root_mean_squared_error: 502824.4375
Epoch 19/30
930/930 [==============================] - 2s 2ms/step - loss: 252112601088.0000 - root_mean_squared_error: 502108.1562
Epoch 20/30
930/930 [==============================] - 2s 2ms/step - loss: 251494465536.0000 - root_mean_squared_error: 501492.2500
Epoch 21/30
930/930 [==============================] - 3s 3ms/step - loss: 250947780608.0000 - root_mean_squared_error: 500946.8750
Epoch 22/30
930/930 [==============================] - 3s 3ms/step - loss: 250380845056.0000 - root_mean_squared_error: 500380.6875
Epoch 23/30
930/930 [==============================] - 3s 3ms/step - loss: 249926664192.0000 - root_mean_squared_error: 499926.6562
Epoch 24/30
930/930 [==============================] - 2s 2ms/step - loss: 249481068544.0000 - root_mean_squared_error: 499480.8125
Epoch 25/30
930/930 [==============================] - 2s 2ms/step - loss: 249030819840.0000 - root_mean_squared_error: 499029.8750
Epoch 26/30
930/930 [==============================] - 3s 4ms/step - loss: 248703811584.0000 - root_mean_squared_error: 498702.1250
Epoch 27/30
930/930 [==============================] - 5s 5ms/step - loss: 248383258624.0000 - root_mean_squared_error: 498380.6250
Epoch 28/30
930/930 [==============================] - 4s 4ms/step - loss: 248028889088.0000 - root_mean_squared_error: 498025.0000
Epoch 29/30
930/930 [==============================] - 3s 3ms/step - loss: 247729274880.0000 - root_mean_squared_error: 497724.0938
Epoch 30/30
930/930 [==============================] - 2s 2ms/step - loss: 247417405440.0000 - root_mean_squared_error: 497410.6875

In [24]:
ann.evaluate(xtest,ytest)

218/218 [==============================] - 0s 1ms/step - loss: 265379397632.0000 - root_mean_squared_error: 515149.8750

[265379397632.0, 515149.875]

In [25]:
pred=ann.predict(xtest)
print(pred)

218/218 [==============================] - 0s 2ms/step
[[1666286.2]
 [1426988.4]
 [1134027.1]
 ...
 [ 784546.2]
 [1556293.1]
 [ 567466. ]]

In [26]:
print(ytest)

13727    2260000.0
4257     1110000.0
27715     865000.0
5981     3800000.0
31599     870000.0
           ...
27103    2000000.0
25685     640000.0
14077     880000.0
28083     800000.0
33813     720000.0
Name: Price, Length: 6972, dtype: float64

In [27]:
from sklearn.metrics import r2_score
acc=r2_score(ytest, pred)
acc

0.4158739038641195